{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": 0,
    "react/destructuring-assignment": 0
  }
}
